body{
  background-color: #000;
}

#bg-img{
  width: 100vw;
  height: 100vh;
  display: inline-block;
  position: fixed;
  margin-left: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -90;
}

#title-viz{
  display: inline-block;
  position: fixed;
  width: 100vw;
  text-align: center;
  top: 45vh;
  color: #ddd;
  z-index: 100;
}
#title-viz a{
  color: #63d4ff;
}

#title h1{
  font-size: 3vw;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  text-align: center;
}

#subtitle{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 1vw;
}

.container {
  width: 80vw;
}

#graphic {
  padding-top: 20px;
}


#sections {
  position: relative;
  display: inline-block;
  width: 30vw;
  /*top: 0px;*/
  z-index: 90;
  /*padding-bottom: 200px;*/
}

.step {
  margin-bottom: 200px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #767678;
  height: 60vh;

}

.step img{
  display: block;
  max-width: 100%;
  max-height:100%;
  width: auto;
  height: auto;

  text-align: center;
}

#sections .title {
  font-family: 'Exo 2', Arial, Helvetica, san-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #ddd;
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}

#vis {
  display: inline-block;
  position: fixed;
  z-index: 1;
  margin-left: 0;
  /* height: 600px; */
  /* width: 600px; */
  /* background-color: #ddd; */
}

#vis .title {
  font-size:120px;
  text-anchor: middle;
}

#vis .sub-title {
  font-size:80px;
  text-anchor: middle;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.tick text,
.text-plot{
  stroke: #666;
  fill: #666;
}

.highlight {
  fill: #008080;
  font-weight: bold;
}

.cough-arrow {
  stroke: #000;
  stroke-width: 4px;

}

/* Slider */


.track {
  stroke-linecap: round;
  stroke: #ddd;
  stroke-opacity: 0.7;
  stroke-width: 1px;
}

.track-ticks {
  stroke: #ddd;
  stroke-opacity: 0.7;
  stroke-width: 1px;
}

.handle {
  opacity: 1.0;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1px;
}
.ticks{
  fill: #ddd;
}

/* Tool tip */

.tooltip-title {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.d3-tip {
  line-height: 1;
  padding: 10px;
  background: rgba(68, 68, 68, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(68, 68, 68, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

