html {
  box-sizing: border-box;
}
html,
body {
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin:0;
  position:fixed;
  top:0;right:0;bottom:0;left:0;
  background-color: whitesmoke;
  font-family: 'Exo 2', sans-serif;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
.scroll {
  height: 100vh;
  overflow: scroll;
  padding: 0 0px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.wrapper {
  margin-top: 0px;
}
.wrapper-title,
.wrapper-intro {
  height: 100vh;
}
.wrapper-viz {
  height: 300vh;
}

.content {
  padding: 0 0px;
  width: 40%;
  left: 0;
}
.content h1 {
  margin-top: 0;
}

.sidebar {
  padding: 0px;
  right: 0;
  width: 60%;
}
.sidebar h3 {
  margin: 0;
}
.content,
.sidebar {
  float: left;
}

/* The sticky */
.content,
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}

#sticky-text{
  padding: 20px 20px 20px 50px;
}

#sticky-viz{
  font: 10px sans-serif;
}

#title-viz{
  width: 100%;
  text-align: center;
  top: 50vh;
}

#section-title{
  width: 100%;
  text-align: center;
}

h1 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  text-align: center;
}

header {
  padding: 0px 0px;
}

#subtitle{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-style: italic;
}

#notes{
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-style: italic;
}

#intro-text {
  padding: 30px 10px 10px 30px;
  width: 100vw;
  margin:0 auto;
}
#left-col {
  float: left;
  width: 45vw;
  padding: 20px 0px 20px 20px;

}
#right-col {
  float: right;
  width: 45vw;
  padding: 20px 20px 20px 0px;
}


#star-text {
  padding: 50px 10px 10px 50px;
}

.text-mass,
.text-age {
  font-size: 14px;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.stellar-track {
  stroke: #000;
  stroke-opacity: 0.2;
  stroke-width: 2px;
}

.cell text {
  font-weight: bold;
  text-transform: capitalize;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .8;
}

circle.hidden-circle {
  fill: #ccc !important;
}


.bar.hidden-bar {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

/* Slider */

 .track,
 .track-inset,
 .track-overlay {
   stroke-linecap: round;
 }

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 2px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 1px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.track-ticks {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 1px;
}

.handle {
  opacity: 1.0;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1px;
}

/*

!*********************!
!*  TOOLTIP OVERLAY  *!
!*********************!

.tooltip-title {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

!* Creates a small triangle extender for the tooltip *!
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

!* Style northward tooltips differently *!
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

*/