body{
  background-color: #000;
}

#bg-img{
  width: 100vw;
  height: 100vh;
  display: inline-block;
  position: fixed;
  margin-left: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -90;
}

#bg-img span{
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1.5px solid #fff;
  border-bottom: 1.5px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scroll01 2s infinite;
  animation: scroll01 2s infinite;
  box-sizing: border-box;
}
#bg-img span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#bg-img span:nth-of-type(2) {
  bottom: 66px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#bg-img span:nth-of-type(3) {
  bottom: 82px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes scroll01 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scroll01 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#title-viz{
  display: inline-block;
  position: fixed;
  width: 100vw;
  text-align: center;
  top: 35vh;
  color: #ddd;
  z-index: 200;
}
#title-viz a{
  color: #63b2ff;
}

#title h1{
  font-size: 5vw;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  text-align: center;
}

#subtitle{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 1vw;
}

.container {
  width: 90vw;
}

#sidebar {
  width:10vw;
  float:left;
}

.btn-circle {
  font-size: 26px;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  line-height: 38px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.7);
  border-radius: 100% !important;
  background: transparent; }
.btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
}
.btn-circle:visited{

}

#graphic {
  padding-top: 20px;
}

#sections {
  position: relative;
  display: inline-block;
  width: 80vw;
  z-index: 100;
}

.step {
  /*margin-bottom: 200px;*/
  margin-top: -50vh;
  height: 150vh;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #c7c7c7;

}

.step img{
  display: block;
  max-width: 100%;
  max-height:100%;
  width: auto;
  height: auto;
  text-align: center;
}

.step.left{
  width: 30vw;
}

.step.centered{
  width: 30vw;
  margin-left: 30vw;
  text-align: center;
}

.step.last{
  height: 50vw;
}

.step.last a{
  color: #1984c9;
}

.step.last a:focus, a:hover{
  text-decoration: none;
  color: #19a4ec; }

#sections .title,
#extra-space .title {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #f0f0f0;
  line-height: 1.2em;
  padding-bottom: 10px;
}

#extra-space {
  position: relative;
  height: 300px;
  z-index: 300;
}

#vis {
  display: inline-block;
  position: fixed;
  z-index: 150;
  margin-left: 0;
  left:40vw;
}

#vis .title {
  font-size:120px;
  text-anchor: middle;
}

#vis .sub-title {
  font-size:80px;
  text-anchor: middle;
}

.axis path,
.axis line {
  fill: none;
  stroke: #b7b7b7;
  shape-rendering: crispEdges;
}

.tick text,
.text-axis,
.text-plot,
.text-tracks,
.text-track {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  fill: #b7b7b7;
}

.highlight {
  fill: #008080;
  font-weight: bold;
}

.cough-arrow {
  stroke: #000;
  stroke-width: 4px;

}

/* Slider */

.track-ticks {
  stroke: #ddd;
  stroke-opacity: 0.7;
  stroke-width: 1px;
}

.handle {
  opacity: 1.0;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1px;
}
.ticks{
  font-family: 'Lato', sans-serif;
  fill: #b7b7b7;
}

/* Tool tip */

.tooltip-title {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.d3-tip {
  line-height: 1;
  padding: 10px;
  background: rgba(68, 68, 68, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 1000;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(68, 68, 68, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
}

